mixin createTable(headers, data)
 table
   thead
     tr
       each header in headers
        th(class='vertical'): span: span #{header}
   tbody
      each row in data
         tr
           - var lastElement =  0
           - var emptyCellsQuantity = 0
           - var taskLength = 1
           each task, index in row.cells
             - emptyCellsQuantity = task.columns[0] - lastElement - 1
             - for (var i = 0; i < emptyCellsQuantity; i++)
                td
             - taskLength = task.columns.length
               td(colspan = taskLength) #{task.name}
             - lastElement = task.columns[taskLength-1]
           if lastElement < 5
             - for (var z = 0; z < 5-lastElement; z++)
               td
           - lastElement = 0

