meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
meta(name="description" content="")
meta(name="author" content="")
link(rel="shortcut icon" href="img/favicon.png")
link(href="css/style.css" rel="stylesheet")
link(href="css/table_styles.css" rel="stylesheet")
link(href="vendor/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet")
